{% set pathSprite = '/icomoon/symbol-defs.svg' %}

<div class="sg-container-padding">

  <div class="sg-title">Icons (icomoon)</div>

  <div class="flex flex-wrap gap-8">
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-logo-en">
          <use xlink:href="{{ pathSprite }}#icon-logo-en"></use>
        </svg>
        <span class="name">
          icon-logo-en</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-facebook">
          <use xlink:href="{{ pathSprite }}#icon-facebook"></use>
        </svg>
        <span class="name">
          icon-facebook</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-arrow-right">
          <use xlink:href="{{ pathSprite }}#icon-arrow-right"></use>
        </svg>
        <span class="name">
          icon-arrow-right</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-arrow-left">
          <use xlink:href="{{ pathSprite }}#icon-arrow-left"></use>
        </svg>
        <span class="name">
          icon-arrow-left</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-linkedin">
          <use xlink:href="{{ pathSprite }}#icon-linkedin"></use>
        </svg>
        <span class="name">
          icon-linkedin</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-logo-fr">
          <use xlink:href="{{ pathSprite }}#icon-logo-fr"></use>
        </svg>
        <span class="name">
          icon-logo-fr</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-rcm">
          <use xlink:href="{{ pathSprite }}#icon-rcm"></use>
        </svg>
        <span class="name">
          icon-rcm</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-check">
          <use xlink:href="{{ pathSprite }}#icon-check"></use>
        </svg>
        <span class="name">
          icon-check</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-cloak">
          <use xlink:href="{{ pathSprite }}#icon-cloak"></use>
        </svg>
        <span class="name">
          icon-cloak</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-doc">
          <use xlink:href="{{ pathSprite }}#icon-doc"></use>
        </svg>
        <span class="name">
          icon-doc</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-radar">
          <use xlink:href="{{ pathSprite }}#icon-radar"></use>
        </svg>
        <span class="name">
          icon-radar</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-doc2">
          <use xlink:href="{{ pathSprite }}#icon-doc2"></use>
        </svg>
        <span class="name">
          icon-doc2</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-flash">
          <use xlink:href="{{ pathSprite }}#icon-flash"></use>
        </svg>
        <span class="name">
          icon-flash</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-doc3">
          <use xlink:href="{{ pathSprite }}#icon-doc3"></use>
        </svg>
        <span class="name">
          icon-doc3</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-grid">
          <use xlink:href="{{ pathSprite }}#icon-grid"></use>
        </svg>
        <span class="name">
          icon-grid</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-check2">
          <use xlink:href="{{ pathSprite }}#icon-check2"></use>
        </svg>
        <span class="name">
          icon-check2</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-yt">
          <use xlink:href="{{ pathSprite }}#icon-yt"></use>
        </svg>
        <span class="name">
          icon-yt</span>
      </div>
    </div>
    <div class="glyph fs1">
      <div class="clearfix pbs">
        <svg class="icon icon-instagram">
          <use xlink:href="{{ pathSprite }}#icon-instagram"></use>
        </svg>
        <span class="name">
          icon-instagram</span>
      </div>
    </div>
  </div>


</div>
